* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NormalText;
}
:root {
  font-size: 24px;
}
/* FONTS ------------------- */

@font-face {
  font-family: NormalText;
  src: url(./fonts/Urbanist-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  width: 100%;
  background-color: #fec5bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

/* LEFT ------------------------------- */
#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fae1dd;
  padding: 2% 3%;
  border-radius: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#type-container {
  text-align: center;
  margin-bottom: 30px;
}

#type-container input {
  width: 14%;
}

h1 {
  margin-bottom: 24px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
form input {
  margin-bottom: 16px;
  margin-top: 6px;
  background-color: #fec5bb;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
  width: 50%;
  padding: 8px 12px;
  border-radius: 10px;
}

#calculate {
  margin-top: 12px;
  padding: 4px 26px;
  color: rgb(41, 41, 41);
  background-color: #e28888;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}
#calculate:hover {
  background-color: #b11b27;
  transition: 0.3s;
}

ul {
  list-style-type: none;
}
li {
  margin-bottom: 6px;
  font-weight: 400;
}

/* RIGHT ------------------------------- */

#right h2 {
  font-size: 12rem;
  color: whitesmoke;
}
#right h3 {
  font-size: 1.6rem;
}
#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(34, 34, 34);
}
