* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NormalText;
}
:root {
  font-size: 24px;
}
/* FONTS ------------------- */

@font-face {
  font-family: NormalText;
  src: url(./fonts/Urbanist-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  width: 100%;
  background-color: #91c4b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

/* LEFT ------------------------------- */
#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e0dd;
  padding: 2% 3%;
  border-radius: 30px;
}

#type-container {
  text-align: center;
  margin-bottom: 30px;
}

#type-container input {
  width: 14%;
}

h1 {
  margin-bottom: 24px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
form input {
  margin-bottom: 16px;
  margin-top: 6px;
  background-color: #91c4b2;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
  width: 50%;
  padding: 8px 12px;
  border-radius: 10px;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 6px;
  font-weight: 400;
}

/* RIGHT ------------------------------- */

#right h2 {
  font-size: 14rem;
  color: whitesmoke;
}
